<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        >
<head>
    <title>Black Server</title>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
</head>
<body class="container">
<div class="jumbotron">
    <h1>Black Server</h1>
    <a href="/requests" class="btn btn-default">Requests</a>
    <a href="/tokens" class="btn btn-default">Tokens</a>
    <div class="alert alert-info" role="alert"> 高能预警，黑服已启动 =≡Σ((( つ•̀ω•́)つ</div>
</div>
</body>
</html>